<div class="beerList">
  <div class="searchBar">
    <span>Search: </span>
    <input ng-model="$ctrl.query" type="text" placeholder="Enter beer or brewery"/>
  </div>
  <table class="beers">
    <thead>
      <td ng-click="$ctrl.setSortBy('name', $event)">Name</td>
      <td ng-click="$ctrl.setSortBy('brewery')">Brewery</td>
      <td ng-click="$ctrl.setSortBy('abv')">ABV (%)</td>
      <td ng-click="$ctrl.setSortBy('score')">Score</td>
    </thead>
    <tbody>
      <tr ng-repeat="beer in $ctrl.beers | beerFilter:$ctrl.query | orderBy:$ctrl.sortBy">
        <td>{{beer.name}}</td>
        <td>{{beer.brewery}}</td>
        <td>{{beer.abv}}</td>
        <td>{{beer.score}}</td>
      </tr>
    </tbody>
  </table>
</div>
