<div class="beerList">
  <div class="searchBar">
    <span>Search: </span>
    <input ng-model="$ctrl.query" type="text" placeholder="Enter beer or brewery"/>
  </div>
  <table class="beers">
    <thead>
      <td>Name</td>
      <td>Brewery</td>
      <td>ABV (%)</td>
      <td>Score</td>
    </thead>
    <tbody>
      <tr ng-repeat="beer in $ctrl.beers | beerFilter:$ctrl.query">
        <td>{{beer.name}}</td>
        <td>{{beer.brewery}}</td>
        <td>{{beer.abv}}</td>
        <td>{{beer.score}}</td>
      </tr>
    </tbody>
  </table>
</div>
